---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Aiden">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research Directions</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research focuses on applying AI to real-world applications, especially those in Healthcare, Finance and Transportation. Currently I am working with Dr. Maryam Pishgar and Prof. Jieyu Zhao.
      </p>
      <p class="text-lg mb-6">
        My work combines Computer Vision, Large Language Model and other edge-cutting techs. I have plentiful experience on practical work, and also have passion on structual and theoratical work.
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                class="size-6 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <List listTitle="Current Projects" listItems={[
      {
        title: "Interpretable Penumonia Classification based on CXR images, powered by ML methods",
        description: "I lead the whole project."
      },
      {
        title: "Assistant Clinical Agent based on RAG＆LLM",
        description: "It's lead by Prof. Jieyu Zhao, and I am working with other 3 parternars"
      }
    ]} />

    <h2 class="text-2xl font-bold mb-6">I Wish</h2>
    <p class="text-lg mb-6">
      Seeking for PhD opportunities focusing on ML globally, especially in US.
    </p>
  </div>
</Layout>
